<mat-form-field [style]="style" [className]="class">
  <mat-select (selectionChange)="selectValueChange()" [value]="value"
    [disabled]="isDisabled"
  >
    <mat-form-field>
      <input (keyup)="onKey($event)" matInput>
    </mat-form-field>
    @for (level of currentSelectValues | keyvalue; track level.key) {
      <mat-optgroup [label]="level.key">
      @for (option of level.value; track $index) {
        <mat-option data-testid="mat-option" [value]="option.value">
          {{option.label}}
        </mat-option>
      }
      </mat-optgroup>
    }
  </mat-select>
</mat-form-field>