<mat-card class="m-2 p-3">
  <mat-card-header>
    <mat-card-title>
      <span id="success-chance">95</span>% chance to succeed with target DC <span id="target-dc-value">0</span>
    </mat-card-title>
    <mat-card-subtitle>
      Note: 100% and 0% are impossible since regardless of DC, a natural 20 is an automatic success, and a natural 1 is an automatic fail. Percentages are rounded to two decimals.
    </mat-card-subtitle>
  </mat-card-header>
  <form [formGroup]="skillCheckForm" (submit)="skillCheckSubmit()">
    <div class="flex flex-wrap flex-row">
      <div class="grow-[2] content-center m-2">
        <mat-form-field class="tertiary-input w-full">
          <mat-label>Target DC</mat-label>
          <input matInput formControlName="targetDC" type="number" />
        </mat-form-field>
      </div>
      <div class="content-center m-2">
        <!-- <mat-button-toggle-group formControlName="advantage">
          <mat-button-toggle value={{0}} id="1" checked>
            None
          </mat-button-toggle>
          <mat-button-toggle value={{1}} id="2">
            Advantage
          </mat-button-toggle>
          <mat-button-toggle value={{2}} id="3">
            Disadvantage
          </mat-button-toggle>
        </mat-button-toggle-group> -->
        <mat-button-toggle-group formControlName="advantage">
        @for (option of advantageOptions; track option.id) {
          @if (option.value == '0') {
            <mat-button-toggle value={{option.value}} id="{{option.id}}" checked>
              {{option.name}}
            </mat-button-toggle>
          } @else {
            <mat-button-toggle value={{option.value}} id="{{option.id}}">
              {{option.name}}
            </mat-button-toggle>
          }
        }
        </mat-button-toggle-group>
      </div>
      <div class="flex-1 content-center m-2">
        <mat-form-field class="w-full">
          <mat-label>Attempts</mat-label>
          <mat-select formControlName="attempts">
            @for(item of attemptsOptions; track $index) {
              <mat-option [value]="item">{{item}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <app-dice-bonus-form label="Die Bonus" controlKey="dieBonuses"></app-dice-bonus-form>
    <div class="m-2">
      <button mat-stroked-button type="submit">Calc!</button>
    </div>
  </form>
</mat-card>
<ng-container #tableContainer>

</ng-container>
<div class="m-3">
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from
    <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/nadiinko" title="Nadiinko">Nadiinko</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/flowicon" title="Flowicon">Flowicon</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</div>
