<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-bg3-cheats documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
	    <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="./" class="navbar-brand">angular-bg3-cheats documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="./">angular-bg3-cheats documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="./" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="./overview.html" 
                                         href="./overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="components/AppComponent.html" >AppComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/AttackRollsComponent.html"  class="active" >AttackRollsComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/CharacterSheetComponent.html" >CharacterSheetComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/DiceBonusFormComponent.html" >DiceBonusFormComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/DieRollResultsTableComponent.html" >DieRollResultsTableComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/NavbarComponent.html" >NavbarComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/NotFoundComponent.html" >NotFoundComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/OverlayComponent.html" >OverlayComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/SkillCheckComponent.html" >SkillCheckComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/StepperComponent.html" >StepperComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-classes-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="classes/DiceSet.html" >DiceSet</a>
                                </li>
                                <li class="link">
                                    <a href="classes/Spell.html" >Spell</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-injectables-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="injectables/DiceCalculationsService.html" >DiceCalculationsService</a>
                                </li>
                                <li class="link">
                                    <a href="injectables/SpellsService.html" >SpellsService</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-info"></span>
                            <span>Interfaces</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-interfaces-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-interfaces-links"
                            >
                                <li class="link">
                                    <a href="interfaces/CharacterStats.html" >CharacterStats</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DiceResults.html" >DiceResults</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DiceSetI.html" >DiceSetI</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DropdownGroup.html" >DropdownGroup</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DropdownItem.html" >DropdownItem</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/SpellI.html" >SpellI</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/SpellResponse.html" >SpellResponse</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/SpellResponseResults.html" >SpellResponseResults</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src=".//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="./">angular-bg3-cheats documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="./" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="./overview.html" 
                                                href="./overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="components/AppComponent.html" >AppComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/AttackRollsComponent.html"  class="active" >AttackRollsComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/CharacterSheetComponent.html" >CharacterSheetComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/DiceBonusFormComponent.html" >DiceBonusFormComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/DieRollResultsTableComponent.html" >DieRollResultsTableComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/NavbarComponent.html" >NavbarComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/NotFoundComponent.html" >NotFoundComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/OverlayComponent.html" >OverlayComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/SkillCheckComponent.html" >SkillCheckComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/StepperComponent.html" >StepperComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#classes-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="classes/DiceSet.html" >DiceSet</a>
                                       </li>
                                       <li class="link">
                                           <a href="classes/Spell.html" >Spell</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#injectables-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="injectables/DiceCalculationsService.html" >DiceCalculationsService</a>
                                       </li>
                                       <li class="link">
                                           <a href="injectables/SpellsService.html" >SpellsService</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-info"></span>
                                   <span>Interfaces</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#interfaces-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="interfaces-links"
                   >
                                       <li class="link">
                                           <a href="interfaces/CharacterStats.html" >CharacterStats</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DiceResults.html" >DiceResults</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DiceSetI.html" >DiceSetI</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DropdownGroup.html" >DropdownGroup</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DropdownItem.html" >DropdownItem</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/SpellI.html" >SpellI</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/SpellResponse.html" >SpellResponse</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/SpellResponseResults.html" >SpellResponseResults</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src=".//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>AttackRollsComponent</li>
</ol>


    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/attack-rolls/attack-rolls.component.ts</code>
</p>

    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>This is the component linked to with attack-rolls link in the navbar<br>It allows the user to search a spell and calculate the amount of damage that the spell can do</p>

    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-attack-rolls</code></td>
            </tr>




            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>attack-rolls.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>




    <section>
        <h3 id="methods">Methods</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> Observable</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>Observable()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> Observable</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>Observable()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> attackRollsForm</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>attackRollsForm:     <code>FormGroup&lt;{ spell: any; spellLevel: any; testAutocomplete: any; hardCodedAutocomplete: any; }, {}&gt;</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> currentSpellRange</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>currentSpellRange:     <code>number[]</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> diceCalcService</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>diceCalcService:     <code><a href="../injectables/DiceCalculationsService.html" target="_self" >DiceCalculationsService</a></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> filteredGroupSpellList</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>filteredGroupSpellList:     <code>boolean</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> rawSpellList$</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>rawSpellList$:     <code>boolean</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> selectedSpell</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>selectedSpell:     <code><a href="../classes/Spell.html" target="_self" >SpellI</a></code>
    </bcode>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                <i>Default value: </i><code>undefined</code>
                            </td>
                        </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> spellsService</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>spellsService:     <code><a href="../injectables/SpellsService.html" target="_self" >SpellsService</a></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
</div>
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">import { CommonModule } from &#x27;@angular/common&#x27;;
import { Component, ComponentRef, inject, OnInit, ViewChild, viewChild, viewChildren, ViewContainerRef } from &#x27;@angular/core&#x27;;
import { SpellsService } from &#x27;../spells.service&#x27;;
import { forkJoin, map, Observable, startWith, switchMap } from &#x27;rxjs&#x27;;
import { Spell, SpellI, SpellResponse, SpellResponseResults } from &#x27;../spell&#x27;;
import { FormControl, FormGroup, ReactiveFormsModule } from &#x27;@angular/forms&#x27;;
import { MatInputModule } from &#x27;@angular/material/input&#x27;;
import { MatSelectModule } from &#x27;@angular/material/select&#x27;;
import { MatAutocompleteModule } from &#x27;@angular/material/autocomplete&#x27;;
import { DiceBonusFormComponent } from &#x27;../dice-bonus-form/dice-bonus-form.component&#x27;;
import { MatCardModule } from &#x27;@angular/material/card&#x27;;
import { MatButtonModule } from &#x27;@angular/material/button&#x27;;
import { DieRollResultsTableComponent } from &#x27;../die-roll-results-table/die-roll-results-table.component&#x27;;
import { DiceResults, DiceSet, DiceSetI } from &#x27;../diceset&#x27;;
import { DiceCalculationsService } from &#x27;../dice-calculations.service&#x27;;

/**
 * This is the component linked to with attack-rolls link in the navbar
 * It allows the user to search a spell and calculate the amount of damage that the spell can do
 */
@Component({
  selector: &#x27;app-attack-rolls&#x27;,
  standalone: true,
  imports: [
    CommonModule, MatInputModule, ReactiveFormsModule,
    MatSelectModule, MatAutocompleteModule, MatCardModule,
    DiceBonusFormComponent, MatButtonModule
],
  templateUrl: &#x27;./attack-rolls.component.html&#x27;,
  styleUrl: &#x27;./attack-rolls.component.scss&#x27;
})
export class AttackRollsComponent implements OnInit{
  spellsService: SpellsService &#x3D; inject(SpellsService);
  diceCalcService: DiceCalculationsService &#x3D; inject(DiceCalculationsService);
  rawSpellList$!: Observable&lt;SpellResponse&gt;;
  currentSpellRange: number[] &#x3D; new Array(6);
  selectedSpell: SpellI | undefined &#x3D; undefined;
  attackRollsForm &#x3D; new FormGroup({
    spell: new FormControl&lt;string | Spell&gt;(&#x27;&#x27;),
    spellLevel: new FormControl&lt;number&gt;(this.selectedSpell?.level || 1),
    testAutocomplete: new FormControl&lt;string | Spell&gt;(&#x27;&#x27;),
    hardCodedAutocomplete: new FormControl(&#x27;&#x27;)
  });
  filteredGroupSpellList!: Observable&lt;SpellResponseResults[][]&gt;;
  @ViewChild(&#x27;dieForm&#x27;) diceBonusComponent!: DiceBonusFormComponent;
  vcr &#x3D; viewChild(&#x27;tableContainer&#x27;, {read: ViewContainerRef});
  #tableRef!: ComponentRef&lt;DieRollResultsTableComponent&gt; | undefined;

  /**
   * initialize observable to autocomplete to change form values based on selected spell
   * 1. use spell value to change currentSpellRange array (this changes values shown in level selector)
   * 2. use spell value to change diceBonusComponent dice values
   */
  addObservableToAutocomplete() {
    this.attackRollsForm.get(&#x27;spell&#x27;)!.valueChanges.subscribe(
      (selectedValue) &#x3D;&gt; {
        const selectedValueAsString &#x3D; typeof selectedValue &#x3D;&#x3D;&#x3D; &#x27;string&#x27; ? &#x27;&#x27; : selectedValue?.url;
        this.spellsService.getSpell(selectedValueAsString || &#x27;&#x27;).subscribe(
          (spell) &#x3D;&gt; {
            if(spell.level &#x3D;&#x3D; 0) this.currentSpellRange &#x3D; [0];
            else this.currentSpellRange &#x3D; [...Array(7).keys()].slice(spell.level);
            this.selectedSpell &#x3D; spell;

            let minLevel &#x3D; this.currentSpellRange[0];
            this.diceBonusComponent.d4 &#x3D; spell.damage[minLevel].d4 || 0;
            this.diceBonusComponent.d6 &#x3D; spell.damage[minLevel].d6 || 0;
            this.diceBonusComponent.d8 &#x3D; spell.damage[minLevel].d8 || 0;
            this.diceBonusComponent.d10 &#x3D; spell.damage[minLevel].d10 || 0;
            this.diceBonusComponent.d12 &#x3D; spell.damage[minLevel].d12 || 0;
          }
        )
      }
    )
  }

  /**
   * The level dropdown observable will update the value of the dicerolls based on the spellLevel setting
   */
  addObservableToLevelDropdown() {
    this.attackRollsForm.get(&#x27;spellLevel&#x27;)!.valueChanges.subscribe(
      (levelNum) &#x3D;&gt; {
        levelNum &#x3D; levelNum ?? this.currentSpellRange[0];
        this.diceBonusComponent.d4 &#x3D; this.selectedSpell?.damage[levelNum].d4 || 0;
        this.diceBonusComponent.d6 &#x3D; this.selectedSpell?.damage[levelNum].d6 || 0;
        this.diceBonusComponent.d8 &#x3D; this.selectedSpell?.damage[levelNum].d8 || 0;
        this.diceBonusComponent.d10 &#x3D; this.selectedSpell?.damage[levelNum].d10 || 0;
        this.diceBonusComponent.d12 &#x3D; this.selectedSpell?.damage[levelNum].d12 || 0;
      }
    )
  }

  /**
   * Converts the SpellResponseResults type that the autocomplete values
   * are stored as into the spell names that they show up as
   * @param selectedValue current selected spell value
   * @returns spell name or empty string
   */
  displaySpellAutocompleteValue(selectedValue: SpellResponseResults): string {
    return selectedValue &amp;&amp; selectedValue.name ? selectedValue.name : &#x27;&#x27;;
  }

  /**
   * Gets spell information from API to set filteredGroupSpellList variable that is used in spell autocomplete
   */
  setGroupedSpellList() {
    let spellsGroups: Observable&lt;SpellResponseResults[]&gt;[] &#x3D; [];
    for(let i &#x3D; 0; i &lt;&#x3D; 6; i++) {
      spellsGroups.push(this.spellsService.getAllSpellsOfLevel(i).pipe(
        map((response) &#x3D;&gt; response.results)
      ))
    }
    this.filteredGroupSpellList &#x3D; this.attackRollsForm.get(&#x27;spell&#x27;)!.valueChanges.pipe(
      startWith(&#x27;&#x27;),
      switchMap(spellSearchInput &#x3D;&gt; {
        let spellString &#x3D; typeof spellSearchInput &#x3D;&#x3D;&#x3D; &#x27;string&#x27; ? spellSearchInput : spellSearchInput?.name;
        // let spellString &#x3D; spellSearchInput;
        spellString &#x3D; spellString?.toLowerCase() || &#x27;&#x27;;
        return forkJoin(spellsGroups).pipe(
          map(spellGroup &#x3D;&gt; 
            spellGroup.map(spellList &#x3D;&gt; 
              spellList.filter(spell &#x3D;&gt;
                spell.name.toLowerCase().startsWith(spellString || &#x27;&#x27;)
              )
            ).filter(spellList &#x3D;&gt; spellList.length &gt; 0)
          )
        )
      })
    )
  }

  generateTable(tableInput: DiceResults[] | undefined) {
    this.vcr()?.clear();
    this.#tableRef &#x3D; this.vcr()?.createComponent(DieRollResultsTableComponent);
    if(tableInput) {
      this.#tableRef?.setInput(&#x27;diceResults&#x27;, tableInput);
    }
  }

  generateDiceSet(): DiceSetI {
    let dieDict: DiceSetI &#x3D; new DiceSet(JSON.parse(
      JSON.stringify(this.attackRollsForm.value))[&#x27;dieBonuses&#x27;]);
    console.log(&#x27;submit received (attack-rolls)&#x27;, dieDict);
    return dieDict;
  }

  attackRollsFormSubmit() {
    let diceSet &#x3D; this.generateDiceSet();
    // console.log(&#x27;submit&#x27;, diceSet);
    let minElement &#x3D; document.getElementById(&#x27;damage-min&#x27;);
    let maxElement &#x3D; document.getElementById(&#x27;damage-max&#x27;);
    if(minElement &amp;&amp; maxElement) {
      minElement.innerText &#x3D; this.diceCalcService.minRoll(diceSet).toString();
      maxElement.innerText &#x3D; this.diceCalcService.maxRoll(diceSet).toString();
    }

    let diceCalcResults &#x3D; this.diceCalcService.diceCalcResults(diceSet);
    this.generateTable(diceCalcResults);
  }

  constructor() { }

  ngOnInit(): void {
    this.rawSpellList$ &#x3D; this.spellsService.getAllSpells();
    this.addObservableToAutocomplete();
    this.addObservableToLevelDropdown();
    this.setGroupedSpellList();
    // this.generateTable(undefined);
    this.attackRollsForm.valueChanges.subscribe(value &#x3D;&gt; 
      console.log(&#x27;attack rolls form&#x27;, value));
  }

}
</code></pre>
        </div>
    </div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="./js/libs/bootstrap-native.js"></script>

       <script src="./js/libs/es6-shim.min.js"></script>
       <script src="./js/libs/EventDispatcher.js"></script>
       <script src="./js/libs/promise.min.js"></script>
       <script src="./js/libs/zepto.min.js"></script>

       <script src="./js/compodoc.js"></script>

       <script src="./js/search/search.js"></script>
       <script src="./js/search/lunr.min.js"></script>
       <script src="./js/search/search-lunr.js"></script>

       <script src="./js/menu.js"></script>
       <script src="./js/libs/highlight.pack.js"></script>
       <script src="./js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="./js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
