<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>angular-bg3-cheats documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
	    <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="./" class="navbar-brand">angular-bg3-cheats documentation</a>
            <button type="button" class="btn btn-default btn-menu fa fa-bars" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
            <div id="book-search-input" role="search">
                <input type="text" placeholder="Type to search">
            </div>
            <nav>
            
                <ul class="list">
            
                    <li class="title">
                        <a href="./">angular-bg3-cheats documentation</a>
                    </li>
            
                    <li class="divider"></li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./"><span class="fa fa-home"></span>Getting started</a>
                        <ul class="links">
                                <li class="link">
                                    <a href="./" ><span class="fa fa-file-text-o"></span>README</a>
                                </li>
                                <li class="link">
                                    <a 
                                        
                                         href="./overview.html" 
                                         href="./overview.html" 
                                        >
                                        <span class="fa fa-th"></span>Overview
                                    </a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-cogs"></span>
                            <span>Components</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-components-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-components-links"
                            >
                                <li class="link">
                                    <a href="components/AppComponent.html" >AppComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/AttackRollsComponent.html" >AttackRollsComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/CharacterSheetComponent.html" >CharacterSheetComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/DiceBonusFormComponent.html" >DiceBonusFormComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/DieRollResultsTableComponent.html" >DieRollResultsTableComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/NavbarComponent.html" >NavbarComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/NotFoundComponent.html" >NotFoundComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/OverlayComponent.html" >OverlayComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/SkillCheckComponent.html"  class="active" >SkillCheckComponent</a>
                                </li>
                                <li class="link">
                                    <a href="components/StepperComponent.html" >StepperComponent</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-file-code-o"></span>
                            <span>Classes</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-classes-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-classes-links"
                            >
                                <li class="link">
                                    <a href="classes/DiceSet.html" >DiceSet</a>
                                </li>
                                <li class="link">
                                    <a href="classes/Spell.html" >Spell</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-long-arrow-down"></span>
                            <span>Injectables</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-injectables-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-injectables-links"
                            >
                                <li class="link">
                                    <a href="injectables/DiceCalculationsService.html" >DiceCalculationsService</a>
                                </li>
                                <li class="link">
                                    <a href="injectables/SpellsService.html" >SpellsService</a>
                                </li>
                        </ul>
                    </li>
            
                    <li class="chapter">
                        <div class="simple">
                            <span class="fa fa-info"></span>
                            <span>Interfaces</span>
                            <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                    data-target="#xs-interfaces-links"
                                ></span>
                        </div>
                        <ul class="links collapse in"
                                id="xs-interfaces-links"
                            >
                                <li class="link">
                                    <a href="interfaces/CharacterStats.html" >CharacterStats</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DiceResults.html" >DiceResults</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DiceSetI.html" >DiceSetI</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DropdownGroup.html" >DropdownGroup</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/DropdownItem.html" >DropdownItem</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/SpellI.html" >SpellI</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/SpellResponse.html" >SpellResponse</a>
                                </li>
                                <li class="link">
                                    <a href="interfaces/SpellResponseResults.html" >SpellResponseResults</a>
                                </li>
                        </ul>
                    </li>
            
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                    </li>
            
                    <li class="chapter">
                        <a data-type="chapter-link" href="./coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                    </li>
            
                    <li class="divider"></li>
                    <li class="copyright">
                            Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                        <img src=".//images/compodoc-vectorise.svg" class="img-responsive">
                            </a>
                    </li>
            
                </ul>
            
            </nav>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <nav>
                   
                       <ul class="list">
                   
                           <li class="title">
                               <a href="./">angular-bg3-cheats documentation</a>
                           </li>
                   
                           <li class="divider"></li>
                   
                               <div id="book-search-input" role="search">
                                   <input type="text" placeholder="Type to search">
                               </div>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./"><span class="fa fa-home"></span>Getting started</a>
                               <ul class="links">
                                       <li class="link">
                                           <a href="./" ><span class="fa fa-file-text-o"></span>README</a>
                                       </li>
                                       <li class="link">
                                           <a 
                                               
                                                href="./overview.html" 
                                                href="./overview.html" 
                                               >
                                               <span class="fa fa-th"></span>Overview
                                           </a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-cogs"></span>
                                   <span>Components</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#components-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="components-links"
                   >
                                       <li class="link">
                                           <a href="components/AppComponent.html" >AppComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/AttackRollsComponent.html" >AttackRollsComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/CharacterSheetComponent.html" >CharacterSheetComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/DiceBonusFormComponent.html" >DiceBonusFormComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/DieRollResultsTableComponent.html" >DieRollResultsTableComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/NavbarComponent.html" >NavbarComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/NotFoundComponent.html" >NotFoundComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/OverlayComponent.html" >OverlayComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/SkillCheckComponent.html"  class="active" >SkillCheckComponent</a>
                                       </li>
                                       <li class="link">
                                           <a href="components/StepperComponent.html" >StepperComponent</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-file-code-o"></span>
                                   <span>Classes</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#classes-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="classes-links"
                   >
                                       <li class="link">
                                           <a href="classes/DiceSet.html" >DiceSet</a>
                                       </li>
                                       <li class="link">
                                           <a href="classes/Spell.html" >Spell</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-long-arrow-down"></span>
                                   <span>Injectables</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#injectables-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="injectables-links"
                   >
                                       <li class="link">
                                           <a href="injectables/DiceCalculationsService.html" >DiceCalculationsService</a>
                                       </li>
                                       <li class="link">
                                           <a href="injectables/SpellsService.html" >SpellsService</a>
                                       </li>
                               </ul>
                           </li>
                   
                           <li class="chapter">
                               <div class="simple">
                                   <span class="fa fa-info"></span>
                                   <span>Interfaces</span>
                                   <span class="menu-toggler fa fa-angle-up" data-toggle="collapse"
                                           data-target="#interfaces-links"
                   ></span>
                               </div>
                               <ul class="links collapse in"
                                       id="interfaces-links"
                   >
                                       <li class="link">
                                           <a href="interfaces/CharacterStats.html" >CharacterStats</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DiceResults.html" >DiceResults</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DiceSetI.html" >DiceSetI</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DropdownGroup.html" >DropdownGroup</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/DropdownItem.html" >DropdownItem</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/SpellI.html" >SpellI</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/SpellResponse.html" >SpellResponse</a>
                                       </li>
                                       <li class="link">
                                           <a href="interfaces/SpellResponseResults.html" >SpellResponseResults</a>
                                       </li>
                               </ul>
                           </li>
                   
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./miscellaneous.html" ><span class="fa fa-cubes"></span>Miscellaneous</a>
                           </li>
                   
                           <li class="chapter">
                               <a data-type="chapter-link" href="./coverage.html" ><span class="fa fa-tasks"></span>Documentation coverage</a>
                           </li>
                   
                           <li class="divider"></li>
                           <li class="copyright">
                                   Documentation generated using <a href="https://compodoc.github.io/compodoc/" target="_blank">
                                               <img src=".//images/compodoc-vectorise.svg" class="img-responsive">
                                   </a>
                           </li>
                   
                       </ul>
                   
                   </nav>
               </div>
               <div class="content component">
                   <div class="content-data">


<ol class="breadcrumb">
  <li>Components</li>
  <li>SkillCheckComponent</li>
</ol>


    <ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#infos" id="infos-tab" role="tab" data-toggle="tab">Infos</a>
        </li>
        <li>
            <a href="#source" role="tab" id="source-tab" data-toggle="tab">Source</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in" id="infos"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/skill-check/skill-check.component.ts</code>
</p>

    <p class="comment">
        <h3>Description</h3>
    </p>
    <p class="comment">
        <p>This component allows for the checking of how likely a skill check is to succeed.<br>It generates a frontend to display results from dice calculations, and a form for the user to input their dice calc information</p>

    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>












            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-skill-check</code></td>
            </tr>




            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>skill-check.component.html</code></td>
            </tr>


        </tbody>
    </table>
</section>




    <section>
        <h3 id="methods">Methods</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> ComponentRef</b>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
    <code>ComponentRef()</code>
                        </td>
                    </tr>
    
                    <tr>
                        <td class="col-md-4">
                                <div class="io-description">
                                    <b>Returns: </b>    <code>void</code>
    
                                </div>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>

    <section>
        <h3 id="inputs">Properties</h3>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> diceCalcService</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>diceCalcService:     <code><a href="../injectables/DiceCalculationsService.html" target="_self" >DiceCalculationsService</a></code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> tableRef</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>tableRef:     <code>boolean</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-sm table-bordered">
                <tbody>
                    <tr>
                        <td class="col-md-4">
                            <b> vcr</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <code>vcr:     <code>Signal&lt;ViewContainerRef&gt;</code>
    </bcode>
                        </td>
                    </tr>
                </tbody>
            </table>
    </section>
</div>
        <div class="tab-pane fade tab-source-code" id="source">
            <pre><code class="hljs javascript">import { CommonModule } from &#x27;@angular/common&#x27;;
import { Component, ComponentRef, inject, OnInit, viewChild, ViewContainerRef } from &#x27;@angular/core&#x27;;
import { FormControl, ReactiveFormsModule, FormGroup, Validators } from &#x27;@angular/forms&#x27;;
import { DiceSet, DiceSetI, Advantage, DiceResults } from &#x27;../diceset&#x27;;
import { DiceCalculationsService } from &#x27;../dice-calculations.service&#x27;;
import { DiceBonusFormComponent } from &#x27;../dice-bonus-form/dice-bonus-form.component&#x27;;
import { MatButtonToggleModule } from &#x27;@angular/material/button-toggle&#x27;
import { MatInputModule } from &#x27;@angular/material/input&#x27;;
import { MatCardModule } from &#x27;@angular/material/card&#x27;;
import { MatButtonModule } from &#x27;@angular/material/button&#x27;;
import { MatSelectModule } from &#x27;@angular/material/select&#x27;;
import { DieRollResultsTableComponent } from &#x27;../die-roll-results-table/die-roll-results-table.component&#x27;;

/**
 * This component allows for the checking of how likely a skill check is to succeed.
 * It generates a frontend to display results from dice calculations, and a form for the user to input their dice calc information
 */
@Component({
  selector: &#x27;app-skill-check&#x27;,
  standalone: true,
  imports: [
    ReactiveFormsModule, CommonModule, MatCardModule, MatSelectModule,
    DiceBonusFormComponent, MatButtonModule,
    MatButtonToggleModule, MatInputModule
  ],
  templateUrl: &#x27;./skill-check.component.html&#x27;,
  styleUrl: &#x27;./skill-check.component.scss&#x27;
})
export class SkillCheckComponent implements OnInit {
  diceCalcService: DiceCalculationsService &#x3D; inject(DiceCalculationsService);
  vcr &#x3D; viewChild(&#x27;tableContainer&#x27;, {read: ViewContainerRef});
  #tableRef!: ComponentRef&lt;DieRollResultsTableComponent&gt; | undefined;
  skillCheckForm &#x3D; new FormGroup({
    targetDC: new FormControl&lt;number&gt;(0, [
      Validators.required,
      Validators.min(0)
    ]),
    advantage: new FormControl&lt;Advantage&gt;(Advantage.None),
    attempts: new FormControl&lt;number&gt;(1, [
      Validators.required,
      Validators.min(1)
    ])
  });
  dieBonusForm &#x3D; new FormGroup({
    &#x27; d4&#x27;: new FormControl(0),
    &#x27; d6&#x27;: new FormControl(0),
    &#x27; d8&#x27;: new FormControl(0),
    &#x27;d10&#x27;: new FormControl(0),
    &#x27;d12&#x27;: new FormControl(0),
  });
  // diceSet!: DiceSet;
  advantageEnum: typeof Advantage &#x3D; Advantage;
  advantageNone &#x3D; Advantage.None;
  advantageAdvantage &#x3D; Advantage.Advantage
  advantageDisadvantage &#x3D; Advantage.Disadvantage;
  advantageOptions &#x3D; [
    {id: 1, name: &#x27;None&#x27;, value: Advantage.None},
    {id: 2, name: &#x27;Advantage&#x27;, value: Advantage.Advantage},
    {id: 3, name: &#x27;Disadvantage&#x27;, value: Advantage.Disadvantage},
  ];
  attemptsOptions &#x3D; [1, 2, 3, 4];

  isAdvantageNone(currentAdvantageValue: Advantage) {
    return currentAdvantageValue &#x3D;&#x3D;&#x3D; Advantage.None;
  }

  generateDiceSet(): DiceSetI {
    let dieDict &#x3D; JSON.parse(
      JSON.stringify(this.skillCheckForm.value))[&#x27;dieBonuses&#x27;];
    // previous line converts diebonuses form group into dict,
    // this allows easy construction of new DiceSet once other parameters are set
    dieDict[&#x27;d20&#x27;] &#x3D; 1;
    dieDict[&#x27;target&#x27;] &#x3D; this.skillCheckForm.value.targetDC ?? 0;
    dieDict[&#x27;advantage&#x27;] &#x3D; this.skillCheckForm.value.advantage ?? Advantage.None;
    dieDict[&#x27;attempts&#x27;] &#x3D; this.skillCheckForm.value.attempts ?? 1;
    return new DiceSet(dieDict);
  }

  createTableComponent(tableInput: DiceResults[] | undefined&#x3D;undefined) {
    this.vcr()?.clear();
    this.#tableRef &#x3D; this.vcr()?.createComponent(DieRollResultsTableComponent);
    if(tableInput) {
      console.log(&#x27;table recreated&#x27;);
      this.#tableRef?.setInput(&#x27;diceResults&#x27;, tableInput);
    }
  }

  skillCheckSubmit() {
    let diceset &#x3D; this.generateDiceSet();
    let skillCheckSuccessChance &#x3D; this.diceCalcService.skillCheckCalc(diceset);
    let successElement &#x3D; document.getElementById(&#x27;success-chance&#x27;);
    let targetDCElement &#x3D; document.getElementById(&#x27;target-dc-value&#x27;);
    let diceRollResults &#x3D; this.diceCalcService.diceCalcResults(diceset);
    console.log(&#x27;skill check submit&#x27;, this.skillCheckForm.value);
    if(successElement !&#x3D;&#x3D; null) {
      console.log(skillCheckSuccessChance);
      successElement.innerHTML &#x3D; (skillCheckSuccessChance).toString();
    }
    if(targetDCElement !&#x3D;&#x3D; null) {
      targetDCElement.innerHTML &#x3D; diceset.target.toString();
    }
    this.createTableComponent(diceRollResults);
  }

  ngOnInit(): void {
    this.createTableComponent();
    this.skillCheckForm.valueChanges.subscribe(
      () &#x3D;&gt; this.skillCheckSubmit()
    );
  }

  constructor() {}
}
</code></pre>
        </div>
    </div>










                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
           </div>
       </div>

       <script src="./js/libs/bootstrap-native.js"></script>

       <script src="./js/libs/es6-shim.min.js"></script>
       <script src="./js/libs/EventDispatcher.js"></script>
       <script src="./js/libs/promise.min.js"></script>
       <script src="./js/libs/zepto.min.js"></script>

       <script src="./js/compodoc.js"></script>

       <script src="./js/search/search.js"></script>
       <script src="./js/search/lunr.min.js"></script>
       <script src="./js/search/search-lunr.js"></script>

       <script src="./js/menu.js"></script>
       <script src="./js/libs/highlight.pack.js"></script>
       <script src="./js/libs/highlightjs-line-numbers.min.js"></script>
       <script src="./js/search/search_index.js"></script>
       <script>
            document.addEventListener('DOMContentLoaded', function() {
                hljs.initHighlightingOnLoad();
                hljs.initLineNumbersOnLoad();
            });
       </script>

    </body>
</html>
