// /* You can add global styles to this file, and also import other style files */
// :root {
//     --primary-color: #d4af37;
//     --secondary-color: #808080;
// }

// src/styles.scss

@use '@angular/material' as mat;
@use '../m3-theme.scss';

$my-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$yellow-palette,
      tertiary: mat.$yellow-palette,
    ),
    typography: (

    ),
    density: (
      scale: 0,
    ),
  )
);

html {
    // @include mat.all-component-themes(m3-theme.$light-theme);
    @include mat.all-component-themes($my-theme);
    // @include mat.core-theme($my-theme);
    // @include mat.button-theme($my-theme);
}