<fieldset [formGroupName]="controlKey">
    <legend>{{label}}</legend>
    <img width=16px src="../../assets/001-d4.png">
    <label for="d4">d4:</label>
    <app-stepper id="d4" formControlName="d4"></app-stepper>
    <img width=16px src="../../assets/002-d6.png">
    <label for="d6">d6:</label>
    <app-stepper id="d6" formControlName="d6"></app-stepper>
    <img width=16px src="../../assets/003-d8.png">
    <label for="d8">d8:</label>
    <app-stepper id="d8" formControlName="d8"></app-stepper>
    <img width="16px" src="../../assets/004-d10.png">
    <label for="d10">d10:</label>
    <app-stepper id="d10" formControlName="d10"></app-stepper>
    <img width="16px" src="../../assets/005-d12.png">
    <label for="d12">d12:</label>
    <app-stepper id="d12" formControlName="d12"></app-stepper>
</fieldset>