<fieldset [formGroupName]="controlKey">
    <legend>{{label}}</legend>
    <label for="d4">d4:</label>
    <app-stepper id="d4" formControlName="d4"></app-stepper>
    <label for="d6">d6:</label>
    <app-stepper id="d6" formControlName="d6"></app-stepper>
    <label for="d8">d8:</label>
    <app-stepper id="d8" formControlName="d8"></app-stepper>
    <label for="d10">d10:</label>
    <app-stepper id="d10" formControlName="d10"></app-stepper>
    <label for="d12">d12:</label>
    <app-stepper id="d12" formControlName="d12"></app-stepper>
</fieldset>